@CHARSET "ISO-8859-1";

body {
	background-color: rgb(26, 32, 94);
	margin: 0;
	padding: 0;
	height: 100%;
	color:white;
	
}

.tableInput td{
	padding:10px;
	
}

.headDiv{
	margin-left:40%;	
}

.textSmall{
	font-size:14px;
	color:white;
}
.text {
	color: white;
	font-size: 48px;
}

.textL {
	text-align: right;
}

.textR {
	text-align: left;
}

.mainDiv {
	height: 400px;
	width: 49%;
	float: left;
}

.innerDiv {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	border: solid 8px white;
}

.innerEl {
	float: left;
	width: 50%;
}

.myTable td {
	padding: 5px;
	margin: 0px;
}

.redText {
	text-color: rgb(136, 0, 22)
}

.left {
	border-right: solid;
	border-with: 8px;
	border-color: white;
}

.center {
	margin: 100px;
	border: solid;
	border-with: 8px;
	border-color: white;
	font-size: 48px;
}