@CHARSET "ISO-8859-1";

body {
	background-color: rgb(26, 32, 94);
	margin: 0;
	padding: 0;
	height: 100%
}

.text {
	color: white;
	font-size: 48px;
}

.textL {
	text-align: right;
}

.textR {
	text-align: left;
}

.mainDiv {
	height: 400px;
	width: 49%;
	float: left;
}

.innerDiv {
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	border: solid 4px white;
}

.innerEl {
	float: left;
	width: 45%;
	padding: 10px
}

